<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to UMMA</title>
	<meta name="keywords" content="umma, umma trade" />
	<meta property="og:title" content="UMMA.io" />
	<meta property="og:site_name" content="UMMA.io" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<style>
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body{height: 100%}
body{font-family:'Noto Sans KR', sans-serif;background-color:#f8f8fb;}
a{text-decoration:none}
.wrap{display:table;table-layout:fixed;width:100%;height:100%}
.container{display:table-cell;width:100%;height:100%;text-align:center;vertical-align:middle}
.mail_form{display:inline-block;width:600px;background-color:#fff}
.header{padding:22px 30px 17px;border-bottom:3px solid #281d5c;text-align:left}
.header em{display:inline-block;margin-left:10px;padding-left:15px;border-left:2px solid #e8e8e8;vertical-align:3px;font-style: normal;}
.content{text-align: center;padding:45px 0 20px}
.content .title{text-align: center;}
.content h1{font-size:35px;color:#281d5c}
.content .thumb{padding:10px 0}
.btn_area{text-align: center;padding-bottom:70px;padding-top: 10px}
.content2{text-align: center;width:100%;padding-bottom: 60px;padding-top: 30px;background-color: #fff;}
.footer{padding:20px 0;text-align: center;border-top:1px solid #ccc}
.footer p{font-size:12px;color:#666}
.btn{text-align: center;width: 50%;background-color:#281d5c;margin: 0 auto;line-height: 50px;color :#fff;font-weight: 700;cursor: pointer;display: block;padding: 2px;}
.desc{text-align: center;width: 80%;margin: 0 auto;}
</style>
<body>
<div class="wrap">
	<div class="container">
		<div class="mail_form">
			<div class="header">
				<img src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/mail_logo.png" width="40">
				<em>Welcome to UMMA.io!</em>
			</div>
			<div class="content">
				<div class="title">
					<h1>Your email verified!</h1>
				</div>
				<div class="thumb"><img src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/email_veirify_icon.png" width="120"></div>
				<div class="desc">
					<p>
						You have successfully verified your email address!<br>
						Your information will be verified before we can approve your account.<br>
						Wait for feedback to be given within a maximum of seven days.<br>
					</p>
				</div>
			</div>
			<div class="btn_area">
				<a href="https://www.umma.io" class="btn">Go to UMMA</a>
			</div>
			<!-- <div class="content">
					<div><img  src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/mail_logo.png" width="150"></div>
					<div class="desc">
							<p>Visit the official site for more information.</p>
					</div>
			</div>
			<div class="content1">
					<a href="<%= url %>" target="_brank"><div class="btn">Go! UMMA</div></a>
			</div>
			<div class="content">
					<div><img src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/faq_icon.png" width="100"></div>
					<div class="desc">
							<p>If you need help, please use the Help Desk!</p>
					</div>
			</div>
			<div class="content2">
					<a href="/faq"><div class="btn">Frequently Asked Questions</div></a>
			</div> -->
			<div class="footer">
				<!-- <img src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/ico_mail.png"> -->
				<p>Copyright @ 2019 umma, All rights reserved.</p>
			</div>
		</div>
	</div>
</div>
 </html>
