<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to UMMA</title>
	<meta name="keywords" content="umma, umma trade" />
	<meta property="og:title" content="UMMA.io" />
	<meta property="og:site_name" content="UMMA.io" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<style>
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body{height: 100%}
body{font-family:'Noto Sans KR', sans-serif;background-color:#f8f8fb;}
a{text-decoration:none}
.wrap{display:table;table-layout:fixed;width:100%;height:100%}
.container{display:table-cell;width:100%;height:100%;text-align:center;vertical-align:middle}
.mail_form{display:inline-block;width:600px;background-color:#fff}
.header{padding:22px 30px 17px;border-bottom:3px solid #281d5c;text-align:left}
.header em{display:inline-block;margin-left:10px;padding-left:15px;border-left:2px solid #e8e8e8;vertical-align:3px;font-style: normal;}
.content{text-align: center;padding:45px 0 20px}
.content .title{text-align: center;}
.content h1{font-size:35px;color:#281d5c}
.content .thumb{padding:10px 0}
.btn_area{text-align: center;padding-bottom:70px;padding-top: 10px}
.content2{text-align: center;width:100%;padding-bottom: 60px;padding-top: 30px;background-color: #fff;}
.footer{padding:20px 0;text-align: center;border-top:1px solid #ccc}
.footer p{font-size:12px;color:#666}
.btn{text-align: center;width: 50%;background-color:#281d5c;margin: 0 auto;line-height: 50px;color :#fff;font-weight: 700;cursor: pointer;display: block;padding: 2px;}
.desc{text-align: center;width: 80%;margin: 0 auto;}
</style>
<body>
<div class="wrap">
	<div class="container">
		<div class="mail_form">
			<div class="header">
				<img src="https://d3ea9molln0us0.cloudfront.net/img/static/mail/mail_logo.png" width="40">
				<em>Welcome to UMMA.io!</em>
			</div>
			<div class="content">
				<div class="title">
					<h1>Your email verified!</h1>
				</div>
				<div class="desc">
          <p>
            회원가입 요청이 정상적으로 진행되었습니다.<br>
            회원님의 요청을 관리자가 승인할 예정입니다.<br>
            승인이 이루어지면 등록하신 메일로 승인 메세지가 전송될 예정입니다.<br>
          </p>
				</div>
			</div>
			<div class="btn_area">
				<a href="<%= loginUrl %>" class="btn">Login</a>
			</div>
			<div class="footer">
				<p>Copyright @ 2019 umma, All rights reserved.</p>
			</div>
		</div>
	</div>
</div>
 </html>
